header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
    background: #7159c1;
}
header nav {
    display: flex;
    list-style: none;
}
header nav  a{
    padding: 1em 2em;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

#header-mobile {
    display: none;
}
/* 
header nav a:hover{
    color: #fff;
    background:rgb(20, 145, 218);
    padding: 10px;
} */

@media (max-width: 960px) {
    #header-desktop {
        display: none;
    }

    #header-mobile {
        width: 100vw;
        height: 4em;
        padding: 0;
        display: block;
        position: fixed;
        top: 0;
    }

    #header-mobile img {
        height: 1.5em;
        position: fixed;
        top: 1.25em;
        right: 1.25em;
        z-index: 10;
    }

    #menu-content.active {
        right: 0;
    }

    #menu-content {
        width: 60vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -60vw;
        background: rgba(96, 57, 162, 0.7);
        backdrop-filter: blur(30px);
        transition: all .2s ease-in-out;
    }

    #menu-content a {
        margin-top: 2em;
    }
}