<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Exemplos</title>
    </head>
    <body>
        <header id="header-desktop">
            <nav>
                <a href="../index.html">Home</a>
                <a href="./page2.html">Exemplos</a>
                <a href="./page3.html">Mobilidade urbana</a>
                <a href="./page4.html">Automação</a>
            </nav>
            <nav>
                <a href="../form/cadastro.html">Cadastra-se</a>
                <a href="../form/login.html">Login</a>
            </nav>
        </header>
        <header id="header-mobile">
            <img src="../assets/menu.png" alt="toggle" id="toggle">
            <nav id="menu-content">
                <a href="../index.html">Home</a>
                <a href="./page2.html">Exemplos</a>
                <a href="./page3.html">Mobilidade urbana</a>
                <a href="./page4.html">Automação</a>
                <a href="../form/cadastro.html">Cadastra-se</a>
                <a href="../form/login.html">Login</a>
            </nav>
        </header>
        <br>
        <br>
        <br>
        <section class="content">
            <h2>Exemplos de cidades inteligentes</h2>
            <br>
            <h3>Coreia do sul - Songdo</h3>
            <img src="https://redebrasileira.org/imagens/materias/1_5yyWecry6HLbktE2onUptQ[1].jpeg" alt="Coreia">
            <p>Um investimento de quase 40 bilhões de dólares e 17 anos para ser construída, tornam a cidade do Norte da Ásia um dos maiores e mais caros projetos de desenvolvimento urbano já realizados.
            Uma cidade com sensores por todos os lados, desde sua infraestrutura básica até atendimento emergencial mais complexo. Computadores, fechaduras, ruas e até mesmo o atendimento social interligados aos cidadãos e prestadores de serviços públicos através de uma rede digital única. Essas são características das “Ubiquitious City” (u-city), conceito que propõe reformular a relação entre os moradores e o espaço urbano.    
            Por um lado, a maioria das pessoas ficam encantadas com as tecnologias e as "facilidades" que a cidade oferece, por outro lado é assustador ver que uma região já existente com quase 300 mil habitantes e que todos compartilham tantas informações sem se preocupar. Será que vivemos a última geração que preocupa-se com privacidade de dados pessoais?</p>
            <a href="https://www.redebrasileira.org/materias/3082/">Fonte</a>
        </section>
        <section class="content">
            <h3>Dinamarca - Copenhague</h3>
            <img src="https://inteng-storage.s3.amazonaws.com/img/iea/zDOZLbap6k/sizes/copenhagen-green-city-life-by-kontraframe_resize_md.jpg" alt="Dinamarca">
            <p>Smart City Copenhague é um laboratório vivo. A cidade está testando tecnologias inteligentes para lidar com os desafios da urbanização e das mudanças climáticas. O uso de tecnologia inteligente ajuda a melhorar a experiência física da cidade.
            As soluções de Tecnologia da Informação (TI) tornarão Copenhague mais limpo e saudável, fazendo com que funcione ainda melhor. Naturalmente, Copenhague é uma cidade que atrai startups. Existem cerca de 250 empresas envolvidas em atividades de cidades inteligentes na Grande Copenhague.
            As pequenas empresas representam dois terços da indústria de cidades inteligentes. Eles oferecem oportunidades de investimento atraentes para VCs, bem como pontes para colaboração com o setor público na Dinamarca.</p>
            <a href="http://payparking.com.br/2020/09/22/copenhague-primeira-cidade-inteligente-neutra-em-carbono-do-mundo-ate-2025/#:~:text=Primeira%20cidade%20neutra%20em%20carbono%20do%20mundo%20em%202025&text=A%20meta%20de%20Copenhague%20de,como%20modelo%20de%20economia%20verde.">Fonte</a>
        </section>
        <section class="content">
            <h3>Espanha - Barcelona</h3>
            <img src="https://www.urban-hub.com/wp/wp-content/uploads/2018/02/UH_Transportation_BlogMobile_SilverLine7_v2.png" alt="Espanha"> 
            <p>Grande parte de ser uma cidade inteligente tem a ver com o uso de tecnologias novas e digitais, bem como da Internet das Coisas (IoT), para aprimorar os processos municipais para o benefício dos habitantes. Barcelona conta com uma história documentada disso, incorporando sensores inteligentes e análises de big data a tudo, desde estacionamento e transporte até coleta de lixo, qualidade do ar e irrigação de terrenos.
            Porém, ser uma cidade inteligente é mais um processo ou jornada do que um destino final. E, após muitas iniciativas e elogios, Barcelona sentiu que precisava elevar sua cidade inteligente a outro nível.
            Superblocos em Barcelona dão vida às ruas.</p>
            <a href="https://www.urban-hub.com/pt-br/cities/barcelona-deixa-a-cidade-ainda-mais-inteligente/">Fonte</a>
        </section>
        <footer> 
            <section>
                <h2>Acesse outros conteúdos</h2>
                <ul>
                    <li><a href="./views/page2.html">Exemplos</a></li>
                    <li><a href="./views/page3.html">Mobilidade urbana</a></li>
                    <li><a href="./views/page4.html">Automação</a></li>
                    <li><a href="./form/login.html">Login</a></li>
                    <li><a href="./form/cadastro.html">Cadastro</a></li>
                </ul>
            </section>
            <span>&copy; Todos os direitos reservados*</span>
            <script src="../js/menu.js"></script>
        </footer>
    </body>
</html>
